DB_ROOT_PASSWORD=change-me
DB_PASSWORD=change-me
OMEKA_S_ADMIN_EMAIL=admin@example.com
OMEKA_S_ADMIN_NAME=Administrator
OMEKA_S_ADMIN_PASSWORD=change-me
OMEKA_S_SITE_TITLE="AKS Web Publish"
OMEKA_API_URL=http://localhost:8080/api
OMEKA_API_KEY_IDENTITY=
OMEKA_API_KEY_CREDENTIAL=
